.container {
  position: relative;
  overflow-x: hidden;
  max-height: 100vh;
}

.btn {
  color: grey;
  background-color: transparent;
  font-size: 1.875rem;
  border-radius: 100%;
  width: 75px;
  height: 75px;
  border: dashed 1px grey;
  cursor: pointer;
}

.prevbtnContainer {
  position: absolute;
  right: 5%;
  top: 20%;
}

.nextbtnContainer {
  position: absolute;
  right: 5%;
  bottom: 20%;
}
