@font-face {
  font-family: 'Poppins';
  src: local('Poppins-Bold'),
    url('./assets/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'KaushanScript';
  src: local('KaushanScript-Regular'),
    url('./assets/KaushanScript-Regular.ttf') format('truetype');
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
